

<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<title>Index</title>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
	<div class="nav-container">
		<ul>
			<li>
				<a href="/">Home</a></li><li>
				<a href="/blog">Blog</a></li><li>
				<a href="/polls">Polls</a></li>
				<li class="leftside">
				{% if user.is_authenticated == user.get_username %}
				<li style="float:right"><a href="">{{ user.get_username }}</a></li>
            	<li style="float:right"><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
            	{% else %}
				<li><a href="../accounts/registration">Registration</a></li>
            	<li style="float:right"><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>
            	{% endif %}
		</ul>
	</div>
	<div class="nav-search">
		<form class="search" action="#">
			<input type="search" name="site-search" placeholder="  Search smth"><button type="submit"><i class="fa fa-search"></i></button>

		</form>
	</div>
</header>

<main>
	<div class="main">
	<h1>Blog page</h1>
	{% block content %}{% endblock %}
	</div>
</main>
<footer class="footer">
	<div class="footer-container">
		<p>Contact information: sadof91195@gmail.com</p>
		<div class="bottomSocial">
  		<a href="https://vk.com"><img src="if_vk.png"></a>
  		<a href="https://twitter.com"><img src="if_twitter.png"></a>
  		<a href="https://facebook.com"><img src="if_facebook.png"></a>
  </div>
	</div>

</footer>
</body>
</html>